# --- Core Pipeline Configuration ---
ENVIRONMENT=local # Options: local, prod
DUCKDB_PATH=gold_dbt/data/gold_market.duckdb

# --- Cloud Production Settings (Required if ENVIRONMENT=prod) ---
# Use the outputs from 'terraform apply' to fill these:
GCP_PROJECT_ID=your-gcp-project-id
GCP_DATASET=gold_analytics
GCS_BUCKET_NAME=your-gcs-bucket-name
GCP_KEYFILE_PATH=auth/service_account.json

# --- dbt Configuration ---
DBT_TARGET=dev # Use 'dev' for DuckDB, 'prod' for BigQuery

# --- Airflow Credentials ---
AIRFLOW_USERNAME=admin
AIRFLOW_PASSWORD=admin123

# --- PostgreSQL (Airflow Metadata DB) ---
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# --- Terraform Setup ---
# Project ID must be provided when running terraform
# TF_VAR_project_id=your-gcp-project-id
