# --- Environment Configuration ---
ENVIRONMENT=local # Options: local, prod
DUCKDB_PATH=gold_dbt/data/gold_market.duckdb

# --- Cloud Production Settings (Required if ENVIRONMENT=prod) ---
GCP_PROJECT_ID=your-gcp-project-id
GCP_DATASET=gold_analytics
GCS_BUCKET_NAME=your-gcs-bucket-name
GCP_KEYFILE_PATH=auth/service_account.json

# --- Airflow / dbt Orchestration ---
DBT_TARGET=dev # Options: dev, prod
