.gcloudignore
.git/
.venv/
.terraform/
infrastructure/terraform/.terraform/
__pycache__/
*.pyc
gold_dbt/target/
gold_dbt/dbt_packages/
gold_dbt/logs/
logs/
/data/
.venv*
venv*
env*
node_modules/
.idea/
.vscode/
.DS_Store
*.duckdb-journal
*.duckdb.tmp
# gold_dbt/data/gold_market_local.duckdb
*.exe
*.zip
*.log
