.gcloudignore
.git
.gitignore

# Große Ordner ZUERST ignorieren
.venv/
.venv/**
__pycache__/
**/*.pyc

# Infrastruktur & Logs ignorieren
infrastructure/
logs/
gold_dbt/target/
gold_dbt/dbt_packages/

# Erlaube explizit den Upload von Daten
!data/
!gold_dbt/data/gold_market.duckdb

# Restliche Standard-Regeln
.gcloudignore
.dockerignore
uv.lock
pyproject.toml
